asn1crypto==0.24.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
coloredlogs==10.0
cryptography==2.3.1
elasticsearch==6.3.1
elasticsearch-dsl==6.2.1
future==0.17.0
humanfriendly==4.17
idna==2.7
ipaddress==1.0.22
mock==2.0.0
nltk==3.3
pbr==5.1.0
pkg-resources==0.0.0
protobuf==3.6.1
pycparser==2.19
python-dateutil==2.7.4
python-telegram-bot==11.1.0
requests==2.20.0
six==1.11.0
textblob==0.15.1
textblob-de==0.4.2
urllib3==1.24
varint==1.0.2
